<div class="bg-image"
      style="
        background-image: url('https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1451&q=100');
        background-repeat: no-repeat;
        height: 91vh">
  <div style="padding: 5% 30%; text-align: center">
    <h1>About Us</h1>
    <p class="lead">We are group of young talented creatives trying to figure out technology and how we can leverage its positive ends in Africa.</p>
    <p class="lead">We specialize in giving a tech definition to your brand, organization or business in a way that better explains your products and services to your world.</p>
    <p class="lead">We are GreenCodeDevs. <a class="text-success fw-light" href="https://www.linkedin.com/in/brytebee/">With &#128157 from Bright</a></p>
  </div>
</div>
