<body class="d-grid h-100 text-center bg-dark" data-new-gr-c-s-check-loaded="14.1012.0" data-gr-ext-installed="" cz-shortcut-listen="true">

  <div  class="bg-image"
        style="
          background-image: url('https://images.unsplash.com/45/QDSMoAMTYaZoXpcwBjsL__DSC0104-1.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=100');
          background-repeat: no-repeat;
          height: 91vh">

    <main class="px-3"">
      <div style="padding: 5% 20% 22%" class="text-dark">
        <h1>E-CONTACTS.</h1>
        <h3>Take your contacts everywhere you go.</h3>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
        <%= link_to 'Sign Up', new_user_registration_path, class:"btn fw-bold btn-lg border-white bg-white text-dark" %>
        </p>
      </div>
    </main>

    <footer class="mt-auto text-white">
      <p>Cover template for <a href="https://getbootstrap.com/" class="text-white text-decoration-none">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white text-decoration-none">@mdo</a>.</p>
    </footer>
  </div>
</body>
